<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

<div class="recipe-container">
    <h1 class="title"> <%= recipe.title %> </h1>
    <p> <%= recipe.content %> </p>
</div>


<%- include('partials/footer'); -%>